$light-blue-color: #38aef0;
$main-text-color: #434a54;
$sub-text-color: #999999;
$header-height: 100px;
$chat-side-width: 300px;
$form-height: 90px;
$messages-height: $header-height + $form-height;
$max: 100%;
